MYIP=127.0.0.1
AUTH_PORT=5001
ISSUER_PORT=5002
FRONTEND_PORT=5003

SERVICE_URL=https://${MYIP}:${FRONTEND_PORT}

FRONTEND_ID=5d725b3c-6d42-448e-8bfd-1eff1fcf152d

ISSUER_URL=https://${MYIP}:${ISSUER_PORT}

OAUTH_URL=https://${MYIP}:${AUTH_PORT}

LOG_DIR=/tmp/issuer_frontend/log_dev

# Allow all supported by backend: CREDENTIALS_SUPPORTED=*
#filter by scope:
CREDENTIALS_SUPPORTED=eu.europa.ec.eudi.pid_mdoc,eu.europa.ec.eudi.pid_vc_sd_jwt,eu.europa.ec.eudi.mdl_mdoc